/**
* web CSS 
**/

.box {
	width: 155px;
	height: 155px;
	margin: 25% 0 auto;
	background: yellowgreen;
	border-radius: 50%;
	position: fixed;
	bottom: 10px;
}

.div_box {
	width: 50px;
	height: 30px;
	position: relative;
	top: 20%;
	margin: 0 auto;
}

.div_box.top_row {
	top: 5px;
}

.div_box.middle_row {
	width: 133px;
	top: 14px;

}

.div_box.down_row {
	top: 35px;
}

.div_box span {
	font-size: 50px;
	position: relative;
	margin: auto 0;
}

.hover {
	color: #FF0000;
}